body {
  margin: 1em 2em;
  font-family: sans-serif;
}

.has-flex {
  display: flex;
}

.is-flexed {
  flex: 1;
  align-items: center;
}

.has-radius {
  border-radius: 3px;
}

.sr-only {
  position: absolute;
  height: 1px;
  width: 1px;
  overflow: hidden;
  clip: rect(1px 1px 1px 1px);
}